@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./christmas.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 6rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-weight: normal;
    font-family: 'Luckiest Guy', cursive;
}
.countdown-container {
    display: flex;
}
.big-text {
    font-weight: 600;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el {
    text-align: center;
}
.countdown-el span {
    font-size: 1.2rem;
}
